# Godot 4+ specific ignores
.godot/
/android/
*.tmp
.DS_Store

# Build folders
build/mac/*
!build/mac/README.md
build/web/*
!build/web/README.md
!build/web/coi-serviceworker.js
build/windows/*
!build/windows/README.md
