# Godot 4+ specific ignores
.godot/
/android/
*.tmp
.DS_Store

# Build folders
build/Mac/*
!build/Mac/README.md
build/Web/*
!build/Web/README.md
!build/Web/coi-serviceworker.js
build/Win/*
!build/Win/README.md
